<h1>Thanks for your order</h1>

<p>Your order has been received</p>

<p>
  <%= link_to "Back to home", root_path %>
</p>

<%= @order.first_name %>
<%= @order.city %>

<% @order.order_items.each do |item| %>
  
  <%= item.product.title %>
  
<% end %>